html, body {
  height: 100%;
  width: 100%;
}

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

h2 {
  margin: 0;
  font-size: 6em;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  color: #fff;
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.2)
}
